@model CVPTest.Models.IndexViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Hello from our View Template!</p>


<div id="listOfJobs">
    @Html.Partial(U.PartialViews.ListOfJobs)
</div>

<script type="text/javascript">
    function d(id) {
        var url = "/home/d/";
        $.post(url, {id: id})
        .done(function(response){
             $("#listOfJobs").html(response);
        });
    }
</script>

